<html>

<head>

    <meta charset="UTF-8">

    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<style>
    * {
        padding: 0;
        margin: 0;
    }
</style>

<body>

    <div class="gallery">

        <h1>Cara Membuat Popup</h1>

        <img src="../public/images/undangan.jpg" alt="">

        <img src="../public/images/web-lontara.png" alt="">

        <img src="../public/images/" alt="">

        <img src="../public/images/" alt="">

    </div>

    <div class="container">

        <div class="popup">

            <i class="fas fa-times-circle" id="close"></i>

            <div class="imageShow">

            </div>

        </div>

    </div>

</body>

</html>


<script>

    $(".gallery").css({
        'width': '500px', 'margin': 'auto', 'text-align': 'center'
    }

    );

    $(".gallery img").css({
        'width': '100px', 'height': '50px'
    }

    );

    $(".container").css({
        'position': 'absolute', 'top': '0px', 'display': 'none', 'width': '100%', 'height': '100%', 'background': 'rgba(0,0,0,0.5)'
    }

    );

    $(".popup").css({
        'position': 'relative', 'top': '90px', 'width': '700px', 'margin': 'auto', 'border': '10px solid white', 'z-index': '10000'
    }

    );

    $("#close").css({
        'position': 'absolute', 'top': '-15px', 'right': '-15px', 'font-size': '20px'
    }

    );



    $(".gallery img").click(function () {

        $(".container").fadeIn("slow");

        var url = $(this).attr('src');

        $(".imageShow").html('<img src="' + url + '">');

        $(".imageShow img").css({ 'width': '100%' });

    })



    // Close

    $("#close").click(function () {

        $(".container").fadeOut("slow");

    })
</script>